<div class="card shadow text-center" style="max-width: 350px; min-width: 350px;">
    <div class="card-body">
        <h5 class="card-tittle">{{projectName}}</h5>
        <p class="card-text">Project Description</p>
        <a href="#" class="btn btn-primary">View Project</a>
    </div>
    <div class="card-footer">
        <small class="text-muted">Última actualización hace 3 minutos</small>
        <div class="d-flex flex-wrap justify-content-center">
            <div class="tag me-2 mb-1">Angular</div>
            <div class="tag me-2 mb-1">TypeScript</div>
        </div>
    </div>
</div>