<div class="mt-4 mb-4">
    <h1 class="text-center">Curriculum</h1>
    <p class="text-center">Podés contactarme a través de los siguientes medios.</p>
</div>
<div class=" mb-3 p-3">
    <app-contact-form></app-contact-form>
</div>
<div class="list-group shadow">
    <a href="https://www.linkedin.com/in/martinsaav/" target="_blank" class="list-group-item list-group-item-action d-flex gap-3 py-3">
        <img src="https://img.icons8.com/color/48/000000/linkedin.png" alt="linkedin" width="30" height="32" class="rounded-circle flex-shrink-0 me-5">
        <h3 class="mb-0">Linkedin</h3>
    </a>

    <a href="https://github.com/martinSaav" target="_blank" class="list-group-item list-group-item-action d-flex gap-3 py-3">
        <img src="https://img.icons8.com/ios-glyphs/30/000000/github.png" alt="github" width="30" height="32" class="rounded-circle flex-shrink-0 me-5">
        <h3 class="mb-0">Github</h3>
    </a>

    <a href="mailto:martin996@hotmail.com.ar" class="list-group-item list-group-item-action d-flex gap-3 py-3">
        <img src="https://img.icons8.com/ios-glyphs/30/000000/email.png" alt="email" width="30" height="32" class="rounded-circle flex-shrink-0 me-5">
        <h3 class="mb-0">Email</h3>
    </a>
</div>
