<nav class="navbar-expand-md border-bottom mb-3">
    <div class="container">
        <ul class="nav justify-content-center">
            <li class="nav-item">
                <a href="" class="nav-link text-secondary" routerLink="" fragment="home"  routerLinkActive="text-dark">Inicio</a>
            </li>
            <li class="nav-item">
                <a href="" class="nav-link text-secondary" routerLink="" fragment="portfolio" routerLinkActive="text-dark">Portfolio</a>
            </li>
            <li class="nav-item">
                <a href="" class="nav-link text-secondary" routerLink="" fragment="resume"  routerLinkActive="text-dark">CV</a>
            </li>
            <li class="nav-item">
                <a href="" class="nav-link text-secondary" routerLink="" fragment="contact"  routerLinkActive="text-dark">Contacto</a>
            </li>
        </ul>
    </div>
</nav>