<div class="shadow-sm fixed-header">
    <app-header></app-header>
    <app-nav></app-nav>
  </div>
  
  <div class="container">
    <div class="animate mb-4">  
      <app-home id="home" ></app-home>
    </div>
    <div class="row">
      <div class="col-lg shadow border m-1 animate">
          <app-certifications></app-certifications>
      </div>
    </div>
    <div class="row">
      <div class="col-lg shadow border m-1 animate">
        <app-portfolio id="portfolio"> </app-portfolio>
      </div>
    </div>
    <div class="row">
      <div class="col-lg shadow border m-1 animate">
        <app-resume id="resume"> </app-resume>
      </div>
    </div>
    <div class="row">
      <div class="col-lg shadow border m-1 p-3 animate">
        <app-contact id="contact"> </app-contact>
      </div>
    </div>
  </div>
  