<div class="shadow-sm fixed-header">
  <app-header></app-header>
  <app-nav></app-nav>
</div>

<app-hero id="home"></app-hero>

<div class="container">
  <section class="page-section animate">
    <app-home></app-home>
  </section>

  <section id="experience" class="page-section animate">
    <app-experience></app-experience>
  </section>

  <section id="portfolio" class="page-section animate">
    <app-portfolio></app-portfolio>
  </section>

  <section class="page-section animate">
    <app-certifications></app-certifications>
  </section>

  <section id="resume" class="page-section animate">
    <app-resume></app-resume>
  </section>

  <section id="contact" class="page-section animate">
    <app-contact></app-contact>
  </section>
</div>
