
.fixed-header {
    position: fixed;
    width: 100%;
    z-index: 100;
    top: 0;
    left: 0;
    background-color: white; /* Asegúrate de que el fondo sea consistente */
    box-shadow: 0 4px 2px -2px gray;
  }


  /* Define la animación */
@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(1em);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Clase para aplicar la animación */
.animate {
  opacity: 0; /* Comienza con el elemento invisible */
  transition: opacity 0.9s, transform 0.9s;
}

/* Clase para activar la animación */
.in-view {
  opacity: 1; /* Hace el elemento visible */
  animation: fadeInUp 0.9s forwards; /* Ejecuta la animación */
}
