<div class="mt-4 mb-4">
    <h1 class="text-center">{{ 'RESUME.TITLE' | translate }}</h1>
</div>

<div class="text-center">
    <h2>{{ 'RESUME.SPANISH_TITLE' | translate }}</h2>
    <div class="d-flex justify-content-center">
        <button class="btn btn-primary mb-5 shadow border" (click)="downloadFile(cvIds['es'])">{{ 'RESUME.SPANISH_DOWNLOAD' | translate }}</button>
        <button class="btn btn-primary mb-5 shadow border" (click)="viewFile(cvIds['es'])">{{ 'RESUME.SPANISH_VIEW' | translate }}</button>
    </div>
    <h2>{{ 'RESUME.ENGLISH_TITLE' | translate }}</h2>
    <div class="d-flex justify-content-center">
        <button class="btn btn-primary mb-5 shadow border" (click)="downloadFile(cvIds['en'])">{{ 'RESUME.ENGLISH_DOWNLOAD' | translate }}</button>
        <button class="btn btn-primary mb-5 shadow border" (click)="viewFile(cvIds['en'])">{{ 'RESUME.ENGLISH_VIEW' | translate }}</button>
    </div>
</div>
