<div class="container">
    <div class="row">
        <div class="col-lg shadow border m-1">
            <div class="text-center">
                <h2>Acerca de mí</h2>
                <img src="./assets/imgs/foto_martin_estrada.jpeg" alt="foto de Martin Estrada" width="300" height="320" class="rounded-circle">
                <p> Me llamo Martín Alejandro Estrada Saavedra, tengo 22 años y de la Ciudad de autónoma de Buenos Aires, Argentina. 
                    Soy estudiante de la carrera de Ingeniería en Informática en la Facultad de Ingeniería de la Universidad de Buenos Aires.
                    Me apasiona la programación, el desarrollo de software, me encanta aprender cosas nuevas y ayudar a los demas.
                </p>
            </div>
        </div>
        <!---->
        <div class="col-lg shadow border m-1">
            <div class="text-center">
                <h2>Proyecto Destacado</h2>
                <h4>{{featuredProject.name}}</h4>
            </div>
            <carousel>
                <slide *ngFor="let image of featuredProject.images">
                    <img [src]="image" alt="project image" style="display: block; width: 100%;">
                </slide>
            </carousel>
            <p class="mt-2">{{featuredProject.summary}}</p>
        </div>
    </div>
</div>